<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Create 3 new components: Game-control, odd, even</p>
      <p>the game control component has button name start game and pause game</p>
      <p>when starting the game an event (holding the incrementing number) should get emitted each second (ref=setInterval())</p>
      <p>the event should be listenable from outside the component</p>
      <p>when stopping the game no more events should get emitted (clearInterval(ref))</p>
      <p>a new odd component should get created for every odd number emitted, the same goes for even component on even numbers</p>
      <p>simply output odd- number or even number in the 2 components</p>
      <p>style the elements holding your output text field differently in both components</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
  </div>
</div>
